# ─── PostgreSQL ───────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_postgres
POSTGRES_DB=event_booking_system_db

# ─── Redis ────────────────────────────────────────────
REDIS_PASSWORD=change_me_redis

# ─── RabbitMQ ─────────────────────────────────────────
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=change_me_rabbit

# ─── JWT ──────────────────────────────────────────────
# Min. 256-bit (32 chars) hex string
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_TIME=3600000
